html {
  font-size: 16px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

body {
  --font-size-base: #{$font-size-base};

  font-size: var(--font-size-base);

  @include media-breakpoint-up(sm) {
    --font-size-base: calc(#{$font-size-base} * 1);
  }

  @include media-breakpoint-up(md) {
    --font-size-base: calc(#{$font-size-base} * 1.08);
  }

  @include media-breakpoint-up(lg) {
    --font-size-base: calc(#{$font-size-base} * 1.16);
  }

  @include media-breakpoint-up(xl) {
    --font-size-base: calc(#{$font-size-base} * 1.25);
  }
}

.nav-link {
  --font-size-menu: calc(var(--font-size-base) * 1.1);

  font-size: var(--font-size-menu);

  @include media-breakpoint-up(md) {
    --font-size-menu: calc(var(--font-size-base) * 0.9);
  }

  @include media-breakpoint-up(lg) {
    --font-size-menu: calc(var(--font-size-base) * 1.1);
  }
}
