@font-face {
  font-family: "Fredoka One";
  src:
    url("../fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("../fonts/FredokaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Light.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-LightOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Heavy.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-MediumOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-MediumOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Medium.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-BookOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-BlackOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-BlackOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-HeavyOblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-HeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Std";
  src:
    url("../fonts/AvenirLTStd-Oblique.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
