html {
  overflow-x: hidden;
}

/* Marquee component */

.marquee {
  --duration: 20s;

  background-image: url(../images/common__marquee__2nd.svg);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: contain;
  width: 400%;
  height: 35px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: -15px;
  animation: animatedBackground var(--duration) linear infinite;

  @include media-breakpoint-up(sm) {
    --duration: 10s;

    width: 100%;
    margin-left: auto;
  }

  @include media-breakpoint-up(md) {
    --duration: 15s;
  }

  @include media-breakpoint-up(lg) {
    --duration: 18s;
  }

  @include media-breakpoint-up(xl) {
    --duration: 20s;
  }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

/* Page title */
.page-title {
  text-align: center;
  position: relative;
  z-index: 200;
  text-transform: lowercase;
  margin-bottom: 30px;
}

/* Testimonial component */

.strong-testimonials-view-widget {
  h3 {
    display: none;
  }
}

.testim {
  margin-bottom: 105px;

  &__row {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__block {
    background-repeat: no-repeat;
    width: 100%;

    @include media-breakpoint-up(md) {
      --margin-sides: 15px;
      --vtext-width: 70px;
    }

    &__vtext {
      background-image: none;
      text-align: center;

      @include media-breakpoint-up(md) {
        background-image: url(../images/testimonials__vtext__min.svg);
        background-position: center center;
        background-size: 25% auto;
        width: var(--vtext-width);
        height: auto;
      }

      .htext {
        font-family: $headings-font-family;
        font-size: $font-size-h4;
        text-transform: uppercase;
        color: $purple-dark;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &__dog {
      background-image: url(../images/testimonials__dog.jpg);
      background-size: cover;
      background-position: center 25%;
      height: 300px;

      @include media-breakpoint-up(md) {
        width: calc(30% - var(--vtext-width));
        height: auto;
        background-position: center center;
      }
    }

    &__text {
      margin: 0;
      background-color: $purple-dark;
      color: #9a83a0;

      @include media-breakpoint-up(md) {
        width: calc(35% - var(--margin-sides));
        margin-left: var(--margin-sides);
      }

      .strong-view.simple .testimonial {
        &-inner {
          padding: 30px;
        }

        &-content,
        &-name {
          text-align: center;
        }

        &-name {
          text-transform: uppercase;
          font-weight: bold;
          padding-top: 30px;
          padding-bottom: 15px;
        }

        &-content p {
          &::before {
            content: "“";
          }

          &::after {
            content: "”";
          }
        }
      }
    }

    &__group {
      background-image: url(../images/testimonials__group.png);
      background-size: cover;
      background-position: center center;
      height: 300px;

      @include media-breakpoint-up(md) {
        width: calc(35% - var(--margin-sides));
        height: auto;
        margin-left: var(--margin-sides);
      }
    }
  }
}

.hidden-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

/* Container */

.content-wide {
  @include media-breakpoint-up(md) {
    margin-left: 80px;
    margin-right: 80px;
  }
}
