/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/_breakpoints.scss"; /* Added manually to use mixins */

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Default breakpoints, left for reference */
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Avenir LT Std", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-light : 300;
$font-weight-normal: 450;
$font-weight-bold  : 900;

$font-size-base:  1rem !default;
$font-size-large: $font-size-base * 1.25 !default;  // ~18px
$font-size-small: $font-size-base * 0.95 !default;  // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 2 !default; // 20/14

//== Headings
$font-size-base-headers: $font-size-base * 1.1;

/* stylelint-disable */
/* Each step goes /1.45*/
$font-size-h1: $font-size-base-headers * 4.60 !default;
$font-size-h2: $font-size-base-headers * 3.17 !default;
$font-size-h3: $font-size-base-headers * 2.20 !default;
$font-size-h4: $font-size-base-headers * 1.50 !default;
$font-size-h5: $font-size-base-headers * 1.10 !default;
$font-size-h6: $font-size-base-headers * 1.00 !default;
/* stylelint-enable */

//** By default, this inherits from the `<body>`.
$headings-font-family:    "Fredoka One" !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;

// Colors
$gray-smoke: #575761;
$purple-light: #56445d;
$purple-dark: #331241;
$purple-lightest: #9884a0;

$brand-primary: $purple-light;

$text-color: $purple-light !default;  //** Global text color on `<body>`.
$body-color: $text-color;
$link-color: $brand-primary !default; //** Global textual link color.
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$headings-color: inherit !default;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

/*
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
*/
$hamburger-layer-color: $brand-primary;
$hamburger-hover-opacity: 0.8;
$hamburger-types: (spin);
