.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar {
  align-items: start;
  padding-top: 30px;
  justify-content: center;
}

.header {
  &__logo {
    margin-right: 20px;

    &__triangle {
      /* https://css-tricks.com/snippets/css/css-triangle/ */
      height: 0;
      width: 0;
      border: transparent solid 55px;
      border-top: white solid 40px;
      margin-bottom: -40px;
    }

    &__image {
      width: 110px;
      height: 140px;
      background-color: white;
      background-image: url(../images/header__logo.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__toggler {
    margin-left: auto;
  }
}
