.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-toggler:focus {
  outline: none;
}

.header {
  --logo-width: calc(1.1 * 110px);
  --logo-height: calc(0.8 * 140px);
  --navbar-pad-top: 30px;

  .navbar {
    position: static;
    padding: 0;
    padding-top: var(--navbar-pad-top);
    justify-content: space-between;
  }

  &__logo {
    &__triangle {
      /* https://css-tricks.com/snippets/css/css-triangle/ */
      --tri-height: 40px;

      height: 0;
      width: 0;
      border: transparent solid calc(var(--logo-width) / 2);
      border-top: white solid var(--tri-height);
      margin-bottom: calc(-101px - var(--navbar-pad-top));
      position: relative;
      z-index: 100;
    }

    &__image {
      --width-lg: 110px;
      --height-lg: 140px;

      width: var(--logo-width);
      height: var(--logo-height);
      background-color: white;
      background-image: url(../images/header__logo.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    text-align: center;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: calc(var(--logo-height) + var(--navbar-pad-top));
    left: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 14px -6px;

    @include media-breakpoint-up(md) {
      position: static;
      width: auto;
      margin-left: auto;
      box-shadow: none;
    }

    .nav-item {
      @include media-breakpoint-up(md) {
        margin-left: 20px;
      }
    }

    .nav-link {
      font-family: $headings-font-family;
      text-transform: lowercase;
    }

    .navbar-nav {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
