.title-secondary {
  font-size: $font-size-h5;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.gallery {
  &__area {
    &__content {
      margin-bottom: 90px;
    }
  }
}

.final-tiles-gallery {
  .caption-block .title {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }
}
