.home {
  $text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

  /* Hero section */

  .hero {
    height: 500px;
    background-image: url(../images/home__hero.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    margin-top: -30px;

    @include media-breakpoint-up(lg) {
      min-height: 680px;
      height: 85vh;
    }

    &__text {
      margin-top: auto;
      margin-left: auto;
      padding-right: 30px;
      padding-bottom: 15px;
      text-shadow: $text-shadow;
      line-height: 1.2;

      span {
        display: block;
        font-family: $headings-font-family;
        font-size: 0.9 * $font-size-h1;
        color: white;
        text-shadow: $text-shadow;
        text-transform: uppercase;
        text-align: right;
      }
    }
  }

  /* Box section */

  &__box {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: $font-size-h6;
    font-family: $headings-font-family;
    letter-spacing: 1.5px;

    &__holder {
      @include media-breakpoint-up(md) {
        margin: 0 -30px;
      }
    }

    &__image {
      height: 400px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;
      text-shadow: $text-shadow;

      @include media-breakpoint-up(md) {
        height: 80vh;
        min-height: 500px;
      }

      @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 700px;
      }
    }

    &__title {
      a {
        font-size: $font-size-h1;
        color: #fff;
        text-transform: lowercase;
        letter-spacing: 0;
      }
    }

    &__link {
      font-size: var(--font-size-large);
      color: $purple-light;
      padding: 1rem 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding: 1rem 3rem;
        padding-bottom: 90px;
        text-align: left;
      }
    }

    &__textcorner {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 30px;
      padding-top: 30px;
    }

    &__services {
      .home__box__image {
        background-image: url(../images/home__services.jpg);
        background-size: cover;
        background-position: top center;

        @include media-breakpoint-up(lg) {
          height: 80% center;
        }
      }
    }

    &__about {
      .home__box__image {
        background-image: url(../images/home__about.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 200px auto;
        background-color: #331241;
      }

      .home__box__title h2 a {
        color: #56445e;
      }

      .home__box__link {
        @include media-breakpoint-up(md) {
          text-align: right;
        }
      }

      .text-invisible {
        visibility: hidden;
      }
    }
  }

  /* Contact section */
  &__contact {
    margin-top: 60px;
    margin-bottom: 100px;
    justify-content: space-between;

    &__form {
      display: flex;
      margin-bottom: $grid-gutter-width;

      &__title {
        height: auto;
        width: 41px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        background-image: url(../images/contact__rotated.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 10px;

        @include media-breakpoint-up(sm) {
          width: 50px;
          background-position: 0 20px;
          margin-left: 45px;
          margin-right: 15px;
        }

        @include media-breakpoint-up(sm) {
          width: 60px;
        }

        @include media-breakpoint-up(xl) {
          width: 64px;
          background-position: 0 20px;
          margin-left: 75px;
          margin-right: 45px;
        }
      }

      &__gf {
        flex-grow: 1;
        padding-left: $grid-gutter-width;
        margin-right: 30px;

        @include media-breakpoint-up(xl) {
          margin-right: 60px;
        }
      }
    }

    &__image {
      background-image: url(../images/home__contact.jpg);
      background-size: cover;
      background-position: 32% center;
      height: calc(100% - 150px);
    }
  }
}
